<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="csvPath" value="C:\csv\azure.csv" />
  </appSettings>
  <connectionStrings>
    <add name="customer" connectionString="Data Source=localhost;Initial Catalog=csv;Persist Security Info=True;User ID=sa;Password=222222" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

